/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	#rotator{
		margin-left: 2%;
	}
	.rotator-container{
		width: 98%;
		float: left;
	}
	.box9 {
		max-width: 100%;
		min-height: 100px;
		border: none;
	}

	nav{
		margin-top: 50px;
		clear: both;
	}

	a.button9{
		width: 100%;
		padding: 2px 0px;
	}

	.montenegro-map-container{
		margin: 0 auto;
		float: none;
		width: 100%;
	}
	.centred-photo{
		width: 100%;
		text-align: center;
	}
	.mimoza-pic-container {
		float: none;
		margin: 0 auto;
	}
	.caption-right{
		display: none;
	}


 
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
//css code here
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
//css code here
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
//css code here
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
//css code here
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
//css code here
}