/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	#thumbScroller{
		width: 98%;
	}

	.holder{
		width: 100%;
	}
	.inbar ul li p{
		text-indent: 0;
		padding: 0 5px 0 60px;
		font-size: 16px;
		min-height: 36px;
	}
	.inbar a{
		display: block;
	}

	.maintext ul{
		margin-left: 15px;
	}

	.grid.group .boka-view-picture{
		display: none;
	}

	.grid.group .right-side-pictures{
		margin: 25px;
	}

	.simple-little-table.villa-info-table.add-info-table{
		width: 100%;
	}

	.add-service-img{
		display: none;
	}

	.simple-little-table.add-service-table{
		margin-top: 15px;
		width: 100%;
	}

	h2 a{
		display: block;
	}
}
 
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
//css code here
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
//css code here
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
//css code here
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
//css code here
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
//css code here
}