body
{
	text-align: center;
	margin: 0px;
	padding:0;
	min-height:100%;

	background-image:url(../img/back_1.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:left top;

	background-size: 100% 100%;
	-o-background-size: 100% 100%;  
	-webkit-background-size:100% 100%; 
	-moz-background-size:100% 100%; 
	-khtml-background-size:100% 100%; 
	/*font-family: 'Comfortaa', cursive;*/
}
body img
{
	border: none;
}
#LangBar
{
	border-width:2px;
	background-image:url(../img/flags/lang_bar_back2.png);
	background-repeat: no-repeat;
	width:195px;
	height:38px;   /*тл*/
	float:left;
	position:fixed;
	top:  0px;
	left: 0px;
}

#weather
{
	
	position:absolute;
	top:  0px;
	right: 0px;
}

#topname
{
	margin: auto;
	position: relative;
	background-image: url(../img/top_name_0.png);
	width: 970px;
	height: 201px;
	top: 5px;
	z-index: -1;
}



#menu
{
	width:554px;     /*554--- 665*/
	margin:auto;
	position:relative;
	margin-top:20px;	
	margin-bottom:10px;
}

#content
{
	margin:0px auto;
	width:910px;
	z-index:100;
}

#bottom_menu
{
	letter-spacing: 4px;
	width:550px;      /*550---660*/
	margin:0px auto;
	position:relative;
	margin-bottom: 5px;
}

#top_decor
{
	width:910px;
	height:64px;
	background-image:url(../img/top_decor.png);
}

#middle_decor
{
	width:910px;
	background-image:url(../img/middle_decor.png);
}

#bottom_decor
{
	width:910px;
	height:10px;
	background-image:url(../img/bottom_decor.png);
}

#content_text
{
	padding:0px 30px 30px 30px;
	text-align: justify;
}

#footer
{
	/*text-align: center;*/
	margin: auto;
	margin-top: 30px;
	width: 910px;
	margin-bottom: 20px;
}


#footer p
{
	font-family:Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#ffffff;
	margin-bottom: 0px;
}

/*#unikernel
{
	height:38px;
	width: 213px;
	background-image:url(../minilogow.png);
	background-repeat:no-repeat;
	margin: auto;
	margin-top: 0px;
	padding: 0px;
}



#unikernel a
{
	background-image:url(../minilogo.png);
	background-repeat:no-repeat;
	display:block;
	width: 200px;
	height:25px;
	margin:0px;
	padding-left: 13px;
	padding-top: 13px;
	color: #ffffff;
	font-family:Helvetica, Arial, sans-serif;
	font-size:11px;
}

#unikernel a:hover
{
	color: #000000;
	font-weight: 500;
	background-image:none;
}

#unikernel a p
{
	width:200px;
	margin:0px;
	text-align:left;
	color: inherit;
}*/

.maintext{
	font-size: 20px;
}

.maintext ul{
	margin-left:160px;
}


#outer_container{margin:auto; width:974px; padding:0 10px; background:#eee;}
#outer_container .left{float:left; width:12px; height:170px; background:url(../img/thumbScroller_left.png);}
#outer_container .right{float:right; width:12px; height:170px; background:url(../img/thumbScroller_right.png);}
#thumbScroller{position:relative; margin:auto; float:center; background:url(../img/thumbScroller_bg.png) repeat-x;}
#thumbScroller{width:830px;}
#thumbScroller, #thumbScroller .container, #thumbScroller .content{height:170px;}
#thumbScroller{overflow:hidden;}
#thumbScroller .container{position:relative; left:0;}
#thumbScroller .content{position:center;width:260px; float:left;}
#thumbScroller .content div{padding:10px 15px; height:100%; font-family:Verdana, Geneva, sans-serif; font-size:13px; background:url(../img/thumbScroller_shadow.png) no-repeat left top;}
#thumbScroller img{border:5px solid #fff;}


#rotator {position:relative; height:150px; margin-left: 15px; right: 0px;border:15px #444;}
#rotator ul li {float:left; position:absolute;  list-style: none; }
#rotator ul li.show {z-index:500;}

.scrollup{
	width:40px;
	height:40px;
	opacity:0.3;
	position:fixed;
	bottom:50px;
	right:50px;
	display:none;
	text-indent:-9999px;
	background: url('img/icon_top.png') no-repeat;
}


