/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	.buttonblock{
		float: none;
		width: 100%;
		background-color: transparent;
		box-sizing: border-box;
	}
	#rotator{
		top: 120px;
		margin-bottom: 330px;
	}
	.nav-button{
		width: 100%;
		padding: 15px 2px;
		box-sizing: border-box;
	}
	.rotator-container{
		float: none;
	}
	.simple-little-table{
		width: 100%;
		font-size: 15px;
		box-sizing: border-box;
	}
	.simple-little-table th{
		padding: 10px 2px;
		box-sizing: border-box;
	}
	.simple-little-table th:first-child{
		padding-left: 2px;
	}
	.centred-img{
		margin-left: 15%;
	}
	.img-right{
		float: none;
	}
}
 
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
//css code here
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
//css code here
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
//css code here
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
//css code here
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
//css code here
}