/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	body{
		/*background-image: none;*/
	}
	img{
		max-width: 100%;
	}
	#topname{
		display: none;
	}
	#nav-menu{
		background-image: none;
		height: auto;
	}
	#nav-menu li{
		width: 100%;
	}
	#nav-menu li a{
		width: 100%;
	}
	#nav-menu li a {
		background-image: none;
		background: #D2E9AE;
		background: -webkit-gradient(linear, left top, left bottom, from(#D2E9AE), to(#E7F3D4));
		opacity: 0.9;
		border-bottom: 2px solid #bfbcb9;
		color: #a5a4a4;
		font-weight: bold;
	}
	#nav-menu li a:hover{
		width: 100%;
		background-image: none;
		color: #a5a4a4;
		height: 38px;
	}
	#current_page{
		background-image: none !important;
		background-color: #FFFFFF !important;
		opacity: 0.8 !important;
		color: #000000 !important;
		font-weight: bold;
	}
	li.seperator{
		display: none;
	}
	#menu{
		width: 100%;
		margin-top: 50px;
	}

	#content{
		width: 100%;
	}
	#top_decor{
		display: none;
	}
	#middle_decor{
		width: 100%;
		background-image: none;
		background-color: rgba(255,255,255, 0.8);
	}
	#content_text{
		padding: 0 5px;
	}
	#bottom_decor{
		display: none;
	}
	#bottom_menu{
		display: none;
	}
	#footer{
		width: 100%;
	}
	
	.grid li:hover,
	.grid li:nth-child(3n-2):hover,
	.grid li:nth-child(3n):hover {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
	}
}
 
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
//css code here
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
//css code here
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
//css code here
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
//css code here
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
//css code here
}
